# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_51RuYCoCkHfmX8de9gIa8YeNVzRpNvPrIk1zLh0GtXz9y6aQ3mlN5xpQzZ0msIGGQnUh3tqmueFeCU03Gh7F6iFDI00qJ016tPE
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51RuYCoCkHfmX8de9SljezHcY11tIGRtFWM9Tee6FZRdGbI3UZCACisMQeZZrRt30W0HnkguUYnWvBbGjyvPejlaD00iW8GUkJx

# Application URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database (if you plan to add database integration)
# MONGODB_URI=mongodb://localhost:27017/mobile_armour
# DATABASE_URL=your_database_connection_string_here

# OpenAI Configuration for Chatbot
OPENAI_API_KEY=
